-gallery_image = ["slider_1","slider_2","slider_3"]

!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title 24/7 Online Custom Essay Writing Service
		%meta{name:"description",content:"Essay Writing Service"}
		%link{rel:"shortcut icon",href:"img/favicon.ico"}
		%link{href:'https://fonts.googleapis.com/css?family=Miriam+Libre:400,700', rel:'stylesheet', type:'text/css'}
		%link{rel:"stylesheet",href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_image.size - 1}"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body.background-color
		="<!--[if lt IE 8]>"
		%p{class:"browserupgrade"}
		Estás usando un navegador
		%strong desactualizado.
		Por favor
		%a{href:"http://browsehappy.com/"}
		actualiza tu navegador
		para una mejor experiencia
		="<![endif]-->"

		.video-container
			%video{autoplay:true, loop:true, width:"100%",height:"100%",poster:"/video/snap.jpg"}
				%source{src:"video/mp4/wor.mp4",typ:"video/mp4"}
				%source{src:"video/webm/wor.webm",typ:"video/webm"}

		.row.relative.middle-xs.center-xs#home
			.col-xs-12
				.box.white-text.black-row#logo
					%img{src:"/img/logo.png", width:"140px"}
						%h1.miriam.title.no-margin My Essay Written
						%p.miriam.subtitle.no-margin.gray-text Essay Writing Service

			%nav.fixed.top.navigation.full-width.right.black.center-xs#navigation
				.col-md-2.left.large-padding.corner
					%a
						%img{src:"/img/logo_navbar.png", width:"100%", align:"left", hspace:"10"}
				.col-md
					%ul.list-inline.large-padding.white-text.align-right
						%li
							%a Home
						%li
							%a About Us
						%li
							%a F.A.Q.
						%li
							%a Our Rates
						%li
							%a.btn.btn-primary.btn-lg ¡Order Now!
								
		.absolute.black.large-padding.full-width.white-text.text-center.hidden#description 
			
			.row.middle-xs.center-xs
				.col-xs-7.col-sm-6.white-text.medium
					¡Tareas de 10!
				.col-xs.hidden.navigation#sticky-navigation
					.box
						%nav.text-right
							%ul.list-inline.white-text
								%li
									%a Home
								%li
									%a About Us
								%li
									%a F.A.Q.
								%li
									%a Our Rates
								%li
									%a.btn.btn-primary.btn-lg ¡Order Now!
		.container
			.card.white.black-text.text-center.relative.up
				%h3.medium.slim
					Get your
					%strong.miriam.medium Essay
					written 
					%strong overnight!
					%p.top-space
					Native English-speaking writers are here to complete all your writing assignments: academic essays, term papers & theses and more...

		%img.full-width#banner{src:"/img/banner.jpg"}

		#gallery
			.inner
				-gallery_image.each do |image|
					.image{style:"background-image:url(img/slider/#{image}.jpg);"}
	
	.black-row.white-text.full-height#contact
		.row.middle-xs.full-height
			.col-xs-12
				.box
					%form{action:"https://formspree.io/ivan.nieto.lozada@gmail.com",method:"POST",id:"contact-form"}
						.row.center-xs
							.col-xs-2.col-md-1
								.box
							.col-xs-5
								.box
									%p.miriam.white-text
										Contacto	
									%input.step{type:"text",name:"name",placeholder: "Nombre", class:"input", required: true}
									%input.step{type:"email",name:"email",placeholder: "Correo", class:"input", required: true}
									%textarea.step{name:"body",placeholder:"Escribe tu mensaje", class:"input", required: true}
									%button.black-text{type:"submit",class:"btn"} Enviar

	
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js", integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	:javascript
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
	%script{src:"js/main.js"}
	%script{src:"js/form_object.js"}
	%script{src:"dist/steps.js"}
