-gallery_image = ["slider_1","slider_2","slider_3"]

!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title 24/7 Online Custom Essay Writing Service
		%meta{name:"description",content:"Essay Writing Service"}
		%meta{name:"viewport",content:"width=device-width, initial-scale:1, maximum-scale:1"}
		%link{rel:"shortcut icon",href:"img/favicon.ico"}
		%link{href:'https://fonts.googleapis.com/css?family=Miriam+Libre:400,700', rel:'stylesheet', type:'text/css'}
		%link{rel:"stylesheet",href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_image.size - 1}"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body.background-color.full-height.full-width
		="<!--[if lt IE 8]>"
		%p{class:"browserupgrade"}
		Estás usando un navegador
		%strong desactualizado.
		Por favor
		%a{href:"http://browsehappy.com/"}
		actualiza tu navegador
		para una mejor experiencia
		="<![endif]-->"
		
		.text-center.full-height#banner
			.row.right
				.col-md-12.col-lg-12.col-sm-12.col-xs-12.banner.right{style:"background-image:url(/img/banner.png)"}

			#banner-text
				.row.middle-xs.center-xs.relative.up.top-banner.margin-0
					.col-md-6.black-row
						%h1.miriam.white-text 
							%strong Get your essay written overnight!
						%p.margin-auto.white-text.miriam Native English-speaking writers are here to complete all your writing assignments: academic essays, term papers & theses and more...
						%a.btn.btn-warning.bottom-space ¡GET YOUR ESSAY WRITTEN!

		.fixed.top.navigation.full-width.right.up.black
			.row.middle-xs#navigation
				.col-md-2.left.large-padding.corner
					.box
						%table
							%tr
								%td
									%a
										%img{src:"/img/logo_navbar.png", width:"65em"}
								%th
									%a
										%p.miriam.white-text Your Essay Written
				.col-md.col-xs
					.box
						%nav.navigation.text-right#responsive-nav
							%i.glyphicon.glyphicon-menu-hamburger.white-text.title#menu-opener
							%ul.list-inline.large-padding.white-text.align-right
								%li
									%a Home
								%li
									%a About Us
								%li
									%a F.A.Q.
								%li
									%a Our Rates
								%li
									%a.btn.btn-primary.btn-lg{href:"#contact"} ¡Order Now!
						

		#gallery
			.inner
				-gallery_image.each do |image|
					.image{style:"background-image:url(img/slider/#{image}.jpg);"}
	
		.black-row.white-text.full-height#contact
			.row.middle-xs.full-height.margin-0
				.col-xs-12
					.box
						%form{action:"https://formspree.io/ivan.nieto.lozada@gmail.com",method:"POST",id:"contact-form"}
							.row.center-xs
								.col-xs-5
									.box
										%p.miriam.white-text
											Contacto	
										%input.step{type:"text",name:"name",placeholder: "Nombre", class:"input", required: true}
										%input.step{type:"email",name:"email",placeholder: "Correo", class:"input", required: true}
										%textarea.step{name:"body",placeholder:"Escribe tu mensaje", class:"input", required: true}
										%button.black-text{type:"submit",class:"btn"} Enviar

	
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js", integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	:javascript
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
	%script{src:"js/main.js"}
	%script{src:"js/form_object.js"}
	%script{src:"dist/steps.js"}
