-gallery_image = ["slider_1","slider_2","slider_3","slider_4"]

!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title ¡El Sitio de Tareas! - Tareas Premium
		%meta{name:"description",content:"¡Textos de todo tipo!."}
		%link{rel:"shortcut icon",href:"img/favicon.ico"}
		%link{href:'https://fonts.googleapis.com/css?family=Miriam+Libre:400,700', rel:'stylesheet', type:'text/css'}
		%link{rel:"stylesheet",href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_image.size - 1}"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body.background-color
		="<!--[if lt IE 8]>"
		%p{class:"browserupgrade"}
		Estás usando un navegador
		%strong desactualizado.
		Por favor
		%a{href:"http://browsehappy.com/"}
		actualiza tu navegador
		para una mejor experiencia
		="<![endif]-->"

		.video-container
			%video{autoplay:true, loop:true, width:"100%",height:"100%",poster:"/video/snap.jpg"}
				%source{src:"video/mp4/wor.mp4",typ:"video/mp4"}
				%source{src:"video/webm/wor.webm",typ:"video/webm"}

		.row.relative.middle-xs.center-xs.up#home
			.col-xs-12
				.box.white-text#logo
					%img{src:"/img/pslogo.png", width:"130px"}
						%h1.miriam.title.no-margin Tareas Premium

			%nav.fixed.top.navigation.full-width.right.black#navigation
				.col-md-2.left.large-padding.corner
					.text-left
						%a
							%img{src:"/img/pslogo.png", width:"40px", align:"left", hspace:"10"}
								%p.miriam.white-text.name-page.medium
									Tareas Premium
				.col-md
					%ul.list-inline.large-padding.white-text.align-right
						%li
							%a Inicio
						%li
							%a Explorar
						%li
							%a Quiénes Somos
						%li
							%a Contacto
						%li
							%a.btn.btn-primary.btn-lg ¡Haz mi tarea!
								
		.absolute.black.large-padding.full-width.white-text.text-center#description 
			
			.row.middle-xs.center-xs
				.col-xs-7.col-sm-6.white-text.medium
					¡Tareas de 10!
				.col-xs.hidden.navigation#sticky-navigation
					.box
						%nav.text-right
							%ul.list-inline.white-text
								%li
									%a Inicio
								%li
									%a Explorar
								%li
									%a Quiénes Somos
								%li
									%a Contacto
								%li
									%a.btn.btn-primary.btn-lg ¡Haz mi tarea!

		
	.text-center#menu
		.row
			.col-md-4.col-lg-4.col-sm-4.col-xs-12.relative
				.thumbnail
					%img{src:"/img/thumbnail/thumbnail.svg",alt:"Thumbnail"}
						.caption
							%h3 Título 1
							%p Aquí viene la descripción del Título 1
							%p
								%a.btn.btn-primary Más información
			.col-md-4.col-lg-4.col-sm-4.col-xs-12
				.thumbnail
					%img{src:"/img/thumbnail/thumbnail.svg",alt:"Thumbnail"}
						.caption
							%h3 Título 2
							%p Aquí viene la descripción del Título 2
							%p
								%a.btn.btn-primary Más información
			.col-md-4.col-lg-4.col-sm-4.col-xs-12
				.thumbnail
					%img{src:"/img/thumbnail/thumbnail.svg",alt:"Thumbnail"}
						.caption
							%h3 Título 3
							%p Aquí viene la descripción del Título 3
							%p
								%a.btn.btn-primary Más información
		#gallery
			.inner
				-gallery_image.each do |image|
					.image{style:"background-image:url(img/slider/#{image}.jpg);"}
		
		.container
			.card.white.black-text.text-center.relative
				%h3.medium.slim
					En
					%strong.miriam.medium Textos Premium
					escribimos lo que tú deberías de escribir pero con
					%strong.miriam.medium calidad.
				%p.top-space
					This is a simple paragraph, wich contains crap information written by the crap developer for use it as example paragraph. This is a simple paragraph, wich contains crap information written by the crap developer for use it as example paragraph.
					%strong.miriam.medium -Dev. Ivanksy
	
	.black-row.white-text.full-height#contact
		.row.middle-xs.full-height
			.col-xs-12
				.box
					%form{action:"https://formspree.io/ivan.nieto.lozada@gmail.com",method:"POST",id:"contact-form"}
						.row.center-xs
							.col-xs-2.col-md-1
								.box
							.col-xs-5
								.box
									%p.miriam.white-text
										Contacto	
									%input.step{type:"text",name:"name",placeholder: "Nombre", class:"input", required: true}
									%input.step{type:"email",name:"email",placeholder: "Correo", class:"input", required: true}
									%textarea.step{name:"body",placeholder:"Escribe tu mensaje", class:"input", required: true}
									%button{type:"submit",class:"btn"} Enviar

	
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js", integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	:javascript
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
	%script{src:"js/main.js"}
	%script{src:"js/form_object.js"}
	%script{src:"dist/steps.js"}
